{ 
  BasedOnStyle: "Mozilla", 
  IndentWidth: 2, 
  UseTab: Never, 
  TabWidth: 2, 
  AlignConsecutiveAssignments: false, 
  PointerAlignment: Left, 
  AlignTrailingComments: false, 
  AlignOperands: true, 
  AllowShortIfStatementsOnASingleLine: false,
  AllowShortLoopsOnASingleLine: false, 
  AllowShortBlocksOnASingleLine: false, 
  SortIncludes: false, 
  ColumnLimit: 80, 
  Cpp11BracedListStyle: true, 
  AllowShortFunctionsOnASingleLine: true,
  FixNamespaceComments: true,
  RemoveBracesLLVM: false,
}